# Ignore all by default to reduce build context as much as possible
*

# Python requirements installed in the docker
!requirements.txt
# Allow to use the repository as a package
!setup.py
!ig
!tests
!runAIchor.sh
!runAIchor_multi_train.sh
!configuration
# To run the linters in the CI job
