# Ignore all by default to reduce build context as much as possible
*

# requirements installed in the docker
!requirements.txt
!requirements-docs.txt
!requirements-linting.txt
!.pre-commit-config.yaml
# Allow to use the repository as a package
!setup.py
!ig
!tests
!runAIchor.sh
!runAIchor_multi_train.sh
!configuration
# To run the linters in the CI job
