*.egg-info
*.log
*.log.*
*.pdf
*.png
*.pyc
*.svg
*.txt
*.pt
*.iml
*~
.#*
R/*
ZIFA*
build/
dist/
plots*
target*
temp*
concatinated.csv
HLA*.csv
hist*.csv
.idea
.ipynb_checkpoints
*.ipynb
last_*.yaml
.DS_Store
missing.csv

.coverage*
.vscode/settings.json
.neptune/

!requirements.txt
!requirements-docs.txt
!requirements-linting.txt

!docs/**/*.png
# IG
!configuration/*.txt
data/*
models*
tests/models
tests/data
tests/fixtures
test-results.xml
tests/fixtures/go_pipeline_test
tests/data
*.pyc
ig.egg-info/
.cache
.bash_history
.coverage
tests/fixtures/splits.csv
